:root {
  --bg: #F5FFFA;
  --accent-color: #FF6347;
  --accent-hover-color: #fa573a;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  background-color: var(--bg);
  font-family: sans-serif;
  font-size: 15px;
  line-height: 1.2;
  font-weight: 400;
}

:where(input,  select, textarea) {
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  border: none;
  background: transparent;
  font-family: sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #000;
  outline: none;
}

:where(input, select, textarea)::placeholder {
  font-family: sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: rgba(0, 0, 0, 0.8);
}

input[type="radio"] {
  width: auto;
}

textarea {
    resize: none;
}

select {
  -webkit-appearance: none;
}

button {
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
  color: inherit;
  display: block;
  cursor: pointer;
  font-size: inherit;
  line-height: inherit;
}

ul {
  list-style-type: none;
}

img {
  max-width: 100%;
}

.container {
  max-width: 1330px;
  padding-inline: 15px;
  margin-inline: auto;
}

.title {
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
}

.field + .field{
  margin-top: 10px;
}

:where(.field__entry, .field__textarea, .field__select) {
  padding: 8px 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.field__select {
  padding-block: 9px;
  padding-inline-end: 35px;
  background-image: url(./../images/icons/arrow-down.svg);
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: center right 5px;
}

.field__label {
  display: grid;
  grid-template-columns: 120px 13px;
  column-gap: 15px;
  align-items: center;
  font-size: 13px;
  cursor: pointer;
}

.field__label + .field__label {
  margin-top: 7px;
}

.field__error {
  margin-top: 3px;
  font-size: 12px;
  color: red;
}

.field__error:empty {
  display: none;
}

.button {
  background-color: var(--accent-color);
  padding: 10px 14px;
  border-radius: 5px;
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  transition: background-color .2s ease-in-out, translate .1s ease-in-out;
  animation: btn 2s ease-in-out infinite;
}

.button:active {
  translate: 0 -2px;
}

.button--no-animate {
  animation: none;
}

.box {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 20px 15px;
}

.main {
  padding-block: 20px;
}

.main__box {
  display: grid;
  grid-template-columns: 2fr 6fr 3fr;
  column-gap: 40px;
}

:where(.menu, .product) {
  height: fit-content;
}

.menu__button {
  width: 100%;
  margin-bottom: 20px;
}

.menu__button > span {
  display: none;
}

.menu__button > span:first-child {
  display: block;
}

.menu__button.menu__button--active > span:first-child {
  display: none;
}
.menu__button.menu__button--active > span:last-child {
  display: block;
}

.menu__categories {
  margin-top: 30px;
}

.menu__categories--close {
  display: none;
}

.menu__title {
  margin-bottom: 20px;
}

.my-orders {
  display: none;
}

.my-orders.my-orders--active {
  display: block;
}

.my-orders__item {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.my-orders__item + .my-orders__item {
  margin-top: 10px;
}

.my-orders__item-top {
  display: flex;
  column-gap: 20px;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  cursor: pointer;
}

.my-orders__item-content {
  display: none;
  padding: 0 10px 10px 10px;
  font-size: 14px;
}

.my-orders__item-content.my-orders__item-content--active {
  display: block;
}

.my-orders__list {
  padding-top: 10px;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.my-orders__list-item {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 5px;
}

.my-orders__list-item > span {
  display: block;
}

.my-orders__list-item > span:first-child {
  text-transform: uppercase;
  margin-bottom: 10px;
}

.my-orders__list-item + .my-orders__list-item {
  margin-top: 5px;
}

.my-orders__btn-delete {
  margin-left: auto;
  margin-bottom: 5px;
}

.categories-list__btn {
  transition: translate .2s ease-in-out, color .2s ease-in-out;
}

.categories-list__btn.categories-list__btn--active {
  translate: 10px;
  color: var(--accent-color);
}

.categories-list__btn + .categories-list__btn {
  margin-top: 10px;
}

.products {
  display: none;
  height: fit-content;
}

.products--active {
  display: block;
}

.products__title {
  margin-bottom: 20px;
}

.products__items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 275px;
  gap: 20px;
}

.products__item {
  display: grid;
  grid-template-rows: auto 45px 36px;
  padding: 15px 10px;
  cursor: pointer;
  transition: border-color .2s ease-in-out, box-shadow .2s ease-in-out;
}

.products__item-img {
  width: 100%;
  aspect-ratio: 1 / 0.8;
  object-fit: contain;
  margin-bottom: 15px;
}

.products__item-title {
  font-weight: 500;
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  margin-bottom: 7px;
}

.product {
  display: none;
}

.product--active {
  display: block;
}

.product-price {
  align-self: flex-end;
}

.product-price p {
  color: gray;
  font-size: 13px;
  text-decoration:line-through;
  margin-bottom: 1px;
}

:where(.product-price p, .product-price h6) span {
  margin-left: 3px;
  font-size: 12px;
}

.product-price p > span {
  font-size: 10px;
}

.product-price p:not(:empty) + h6 {
  color: var(--accent-color);
}

.product-price h6 {
  font-size: 17px;
  font-weight: 600;
}

.product__img {
  width: 100%;
  object-fit: contain;
  aspect-ratio: 1 / 0.8;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.3);
}

.product__title {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 20px;
}

.product__data {
  margin-top: 20px;
}

.product__data-item {
  display: grid;
  grid-template-columns: 90px 1fr;
  align-items: center;
  justify-content: space-between;
  padding-block: 7px;
  column-gap: 20px;
  font-size: 14px;
  transition: background-color .2s ease-in-out;
}

.product__data-item > span:first-child {
  font-weight: 600;
}

.product__data-item:first-child {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.product__data-item:last-child {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.product__data-item + .product__data-item {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.product__buy {
  display: flex;
  align-items: center;
  column-gap: 20px;
  justify-content: space-between;
}

.product__buy-btn {
  max-width: 90px;
  flex-grow: 1;
}

.product__buy-btn > span:first-child {
  display: block;
}

.product__buy-btn > span:last-child {
  display: none;
}

.product__buy-btn.product__buy--active {
  animation-play-state: paused;
}

.product__buy-btn.product__buy--active > span:first-child {
  display: none;
}

.product__buy-btn.product__buy--active > span:last-child {
  display: block;
}

.product__form {
  display: none;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 7px;
  margin-block: 25px;
}

.product__form--active {
  display: block;
}

.product__form-btn {
  width: 100%;
  margin-top: 15px;
}



.sms {
  display: none;
  height: fit-content;
  padding: 15px 12px;
  border-radius: 7px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.sms--active {
  display: block;
}

.sms__text {
  background-color: rgb(54, 188, 17);
  padding: 15px 12px;
  border-radius: 5px;
  text-align: center;
  color: #fff;
  margin-bottom: 20px;
  animation: movement 3s infinite;
}

.sms__content-box + .sms__content-box {
  margin-top: 20px;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  padding-top: 20px;
}

.sms__title {
  font-size: 17px;
  margin-bottom: 20px;
}

.sms__data-item {
  display: grid;
  grid-template-columns: 150px 1fr;
  align-items: center;
}

.sms__data-item + .sms__data-item{
  margin-top: 12px;
}

@keyframes btn {
  0% {
    box-shadow: 0 0 0 0 #ff634700;
  }
  50% {
    box-shadow: 0 0 0 5px #ff63479b;
  }
  100% {
    box-shadow: 0 0 0 0 #ff634700;
  }
}

@keyframes movement {
  75% {
    scale: 1.02;
  }
  100% {
    scale: 1;
  }
}

@media(hover: hover) {
  .categories-list__btn:hover {
    translate: 10px;
    color: var(--accent-color);
  }

  .products__item:hover {
    border-color: var(--accent-color);
    box-shadow: 0 0 0 2px var(--accent-color);
  }

  .button:hover {
    background-color: var(--accent-hover-color);
    animation-play-state: paused;
  }

  .product__data-item:hover {
    background-color: rgba(0, 0, 0, 0.03);
  }
}